{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "~": "./src",
                    "#package/assets": "./assets",
                    "#package/client": "./src",
                    "#package/styles": "./src/www/styles"
                }
            }
        ]
    ]
}
