@use '../global/variables' as *;
@use '../global/utils' as *;

// TODO: collapse when not in use?
// Maybe use dialogs
div#sidebar {
    @extend %center-container;

    position: relative;

    flex-direction: column;

    width: $toolbar-width;
    height: 100%;

    background: $main-bg;
    color: $main-fg;

    border-left: 2px solid $accent-bg;
}
