@use '../global/variables' as *;
@use '../global/utils' as *;

div#toolbar {
    @extend %center-container;

    position: relative;

    flex-direction: column;

    width: $toolbar-width;
    height: 100%;

    background: $main-bg;
    color: $main-fg;

    border-right: 2px solid $accent-bg;
}
