mixin label_button(label)
    .button.text= label

#topbar
    nav.main-menu
        +label_button('File')
        +label_button('Edit')
        +label_button('View')
        +label_button('Mode')
        +label_button('Prefabs')
        +label_button('Tools')
        +label_button('Help')
    nav.quick-access
        //- TODO: Quick access modes and buttons
        //- Make these icons, not labels
        //- +label_button('New Map')
        //- +label_button('Open Map')
        //- +label_button('Save Map')
        //- +label_button('Script Editor')
        //- +label_button('Undo')
        //- +label_button('Redo')
        //- +label_button('Cut')
        //- +label_button('Copy')
        //- +label_button('Paste')
        //- +label_button('Insert Prefab')
