doctype html
html(lang='en')
    head
        title Calamity Documentation

        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='author', content='claymore <marekczjk@gmail.com>')
        meta(name='description', content='Web-based documentation for the Calamity engine')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //- Stylesheets
        link(href='/styles/master.css', rel='stylesheet')

        //- Extend this block in derived layouts if necessary
        block head

    body
        #wrapper
            include partials/sidebar

            noscript
                h1 This page will not function without JavaScript support!

            #base        
                block content

        script(src='/scripts/main.js', type='module')
