extends _layout

block content
    article
        header
            h1 Calamity Engine
            h2 API Reference and Specifications 
        hr
        
        section
            //- TODO: TOC
            h1 Table of Contents
            
            //- TODO: Article content
            h1 1. Introduction

            h2 1.1 Legal Warning

            p.
                Permission to use, copy and distribute unedited copies of this whole document is hereby granted, provided that no fee is charged for the use or availability of this document (other than the normal connection costs for on-line services, if applicable). The above copyright notice and this permission notice must be left intact in all copies of this document. Short excerpts of this document may be quoted in discussion groups or mailing list articles, as long as a reference to the full document is given. 

            p.
                Commercial distribution of this document, in whole or in part, requires prior agreement with the author. Commercial distribution includes any means by which the user has to pay either for the support (e.g. book, newsletter or CD-ROM) or for the document itself. Unauthorized commercial distribution is prohibited.
            p.
                #[em Disclaimer:] this document is a W.I.P (work in progress). 
            
            h2 1.2 Authors and Contributors

            fieldset 
                legend Claymore
                label
                    | #[em Email:] 
                    | #[a(href="mailto:marekczjk@gmail.com") &lt;marekczjk@gmail.com&gt;]
                label
                    | #[em Discord:]
                    | #[code Claymore#5001]
            
            h1 2. Basics

            h1 3. Event handling

            h1 4. Resource management

            h1 5. File formats
