// ====================
// = Global styles ====
// ====================
@use 'global/reset';
@use 'global/variables' as *;
@use 'global/utils' as *;
@use 'global/fonts';

// =======================
// = Component styles ====
// =======================
@use 'partials/sidebar.scss';
@use 'partials/article.scss';

// ===========================
// = Main page stylesheet ====
// ===========================
* {
    scrollbar-color: $accent $main-bg;
    scrollbar-width: thin;
}

div#wrapper,
body,
html {
    @extend %root-container;

    position: relative;

    flex-direction: row;

    width: 100%;
    height: 100%;

    background: $main-bg;
    color: $main-fg;

    font-family: $stylish-font;

    div#base {
        @extend %center-container;

        position: relative;

        flex-direction: row;
        justify-content: flex-start;

        width: calc(100% - #{$sidebar-width});
        height: 100%;

        background: $main-bg;
        color: $main-fg;

        @extend %page-content;
    }
}
