// =============
// = Colors ====
// =============
$main-bg: rgb(32, 35, 37);
$main-fg: rgb(255, 255, 255);
$accent: rgb(65, 149, 228);

$neutral-gray: hsl(204, 0%, 30%);

$secondary-bg: rgb(30, 33, 35);
$secondary-fg: rgb(231, 241, 250);

$accent-bg: rgb(23, 55, 85);
$accent-fg: rgb(131, 194, 255);

$shadow-color: rgba(0, 0, 0, 0.102);
$hard-shadow: rgba(0, 0, 0, 0.6);

// ============
// = Fonts ====
// ============
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$stylish-font: 'Titillium Web', sans-serif;

// =================
// = Dimensions ====
// =================
$sidebar-width: 16rem;
